@page "/Checkout"
@inherits CheckoutBase

@if (CartItems == null)
{
    <LoadingSpinner />
}
else
{
    <h3>Thank you for your order</h3>
    <p>We know who you are and where you live.</p>
    @if (CartItems.Count() == 1)
    {
        <p>We'll pick you up outside your house next Friday.</p>
    }
    else
    {
        <p>Your first trip starts next Friday. We'll pick you up outside your house.</p>
    }

    <p>Payment in cash only (@PaymentAmount.ToString("C0")). Just bring the money with you. No guns allowed. Be alone.</p>
}
