@page "/"
@inherits TripsBase

@if(Trips == null)
{
    <h3>Loading trips...</h3>
}
else
{
    <h1 class="mb-2">We're proud of our trips. Already planned your vacation?</h1>

    <h3 class="mb-5">The following trips are now available...</h3>

    var tripCount = Trips.Count();

    @if (tripCount > 0)
    {       
        @foreach (var tripGroup in GetGroupedTripsByCategory())
        {
            <h4>@GetCategoryName(tripGroup)</h4>

            <div class="row mt-3">
                <TripDisplay Trips="@tripGroup"></TripDisplay>
            </div>
            <hr class="mb-3"/>
        }
    }

}